<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}  

  <body>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <link href="markdown-cv/media/davewhipp-screen.css" type="text/css" rel="stylesheet" media="screen">
        <link href="markdown-cv/media/davewhipp-print.css" type="text/css" rel="stylesheet" media="print">
        {{ content }}
      </div>
    </main

    {%- include footer.html -%}

  </body>

</html>
