---
layout: default
---

<head>
  <meta name="google-site-verification" content="opKO7DJU8I3Fuaj-r9GImV7fsNiKq9dNfkoWK2aVD1Q" />
</head>

<div class="home">

  <div class="home-image">
    <div class="home-title-wrapper">
      <h1 class="home-name">Jacob Levine</h1>
      <h2 class="home-description">Ecology | Statistics | Theory</h2>
    </div>
  </div>

  {%- include header.html -%}

  <div class = "about" id="about-section">
    <!-- title with profile picture, name and description -->
    <img class = "title-image" src="/assets/profile.png">
    <h1 class="title-name">Jacob Levine</h1>

    <body class = "about-body"> I am an ecologist focusing on a wide array of environmental topics including: fire ecology and management, biodiversity maintenance, competition and coexistence, ecophsyiology, and statistical methods. To explore these subjects I develop ecological theory and perform empirical studies and experiments, letting each inform the other in order to seek a more complete understanding of complex ecological systems. To aid in this pursuit, I leverage novel techniques in high-performance computing and statistical methods.
     <br><br>Currently, I am a Ph.D candidate in the <a href = "https://eeb.princeton.edu/">Department of Ecology and Evolutionary Biology</a> at Princeton University. I work primarily with Professors <a href = "https://scholar.princeton.edu/pacala">Steve Pacala</a> and <a href = "https://levine.princeton.edu/">Jonathan Levine</a>, though maintain collaborations with my undergraduate advisors, <a href = "https://nature.berkeley.edu/stephenslab/">Scott Stephens</a>, <a href = "https://nature.berkeley.edu/~pdevalpine/">Perry de Valpine</a>, <a href = "https://nature.berkeley.edu/stephenslab/lab-members/dr-brandon-collins/">Brandon Collins</a> at UC Berkeley.
.</body>


    {%- include social-links.html -%}


  </div>



</div>

 <script type="text/javascript">
    {% include js/layout.js %}
 </script>

<!-- smooth scrolling behavior -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>
